.light {
  background: black;
  padding: 40px;
}

.button {
  position: fixed;
  top: 50%;
  transition: transform(-50%, -50%);
  right: 10px;
  height: 900px;
  width: 100px;
  background: #666;
  border-radius: 6px;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  margin-top: -450px;

  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  
  -webkit-appearance: none;
}

.status {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.lightsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.light {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
}

.light1On {
  background: white;
}

.light2On {
  background: yellow;
}

.light3On {
  background: yellow;
}

.light4On {
  background: white;
}